#Awards {
  margin-bottom: 80px;

  h3 {
    padding: 0 72px;
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 32px;
  }

  .LineAward {
    border-top: 1px solid $grey;
    cursor: pointer;

    .lineContent {
      width: 100%;
      padding: 16px 72px;
    }

    p {
      font-size: 1.4rem;
      font-weight: 400;
      transform: translateY(3px);
    }
    .year {
      grid-column: 1/2;
    }

    .awardsContainer {
      grid-column: 3/13;
      overflow: hidden;
    }

    .awardName {
      grid-column: 1/4;
    }

    .project-reward {
      grid-column: 5/13;
      margin-bottom: 16px;
    }

    .rewards {
      grid-column: 12/13;
    }

    .plus {
      top: 16px;
      right: 72px;
      color: $sombreGreen;
    }
  }
  .LineAward:last-of-type {
    border-bottom: 1px solid $grey;
  }
}
