@font-face {
  font-family: "ExensaGrotesk";
  src: url("../../Assets/Fonts/ExensaGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "ExensaGrotesk";
  src: url("../../Assets/Fonts/ExensaGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "ExensaGrotesk";
  src: url("../../Assets/Fonts/ExensaGrotesk-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "ExensaGrotesk";
  src: url("../../Assets/Fonts/ExensaGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ExensaGrotesk";
  src: url("../../Assets/Fonts/ExensaGrotesk-Light.ttf") format("truetype");
  font-weight: 200;
}

// @font-face {
//   font-family: "Avenir";
//   src: url("../../Fonts/AvenirNextLTPro-Regular.otf") format("otf");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "NewYork";
//   src: url("../../Fonts/NewYork.otf") format("otf");
//   font-weight: 400;
// }
