// Color Variables
$lightGrey: #ece8e7;
$dark: #000000;
$grey: #cccccc;
$sombreGreen: rgb(52, 108, 59);
// $silverPink: #d0b7ad;
// $cinerous: #987d7b;
// $spaceCadet: #1a2b58;
// $charleston: #212529;
